<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- init stylesheets -->
    <link rel ='stylesheet' type="text/css" href="/stylesheets/blank.css"/>
    <link rel ='stylesheet' type="text/css" href="/stylesheets/palette.css"/>
    <link rel ='stylesheet' type="text/css" href="/stylesheets/font.css"/>
    <link rel ='stylesheet' type="text/css" href="/stylesheets/style.css"/>
    <link rel ='stylesheet' type="text/css" href="/stylesheets/modal.css"/>
    <link rel ='stylesheet' type="text/css" href="/stylesheets/card.css"/>
    <link rel ='stylesheet' type="text/css" href="/stylesheets/crpytoIcon.css"/>
    <link rel ='stylesheet' type="text/css" href="/stylesheets/public.css"/>


    <script type="text/javascript" src="/javascripts/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery-ui-1.11.4.min.js"></script>



      <!--highcharts-->
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/annotations.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!--chart.js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/modal/publicModal.js"></script>
    <script type="text/javascript" src="/javascripts/publicComponent.js"></script>
    <script type="text/javascript" src="/javascripts/myData.js"></script>
    <script type="text/javascript" src="/javascripts/myWallet.js"></script>
    <script type="text/javascript" src="/javascripts/chart/highchart.js"></script>
    <script type="text/javascript" src="/javascripts/chart/chart.js"></script>

    <title>Coin Buying : 나의 가상자산 포트폴리오</title>

</head>

<body>
    <div class = "wrap">
        <div class = "public-header">
        </div>
        <div class = "container">
            <div class = "public-size">
                <div class = "public-contents">
                    <!-- <div class = "my_cash_card">
                        <div class = "card_title">
                            <p class = "font-12n margin-r-16 title_color">최성우님의 순자산</p>
                            <img class = "go_detail_img">
                            </div>
                            <div class = "padding-lr-24 padding-b-8 flex">
                                <p class = "font-18b  font-color-w">30,000,000 원</p>
                                <p class = "font-12n  gray_font margin-l-8 margin-t-4">(22.05.06 13:42 기준)</p>
                            </div>
                    </div>


                    <div class = "public_toggle_div margin-t-16 flex">
                        <div class = "my_wallet_tab public_toggle font-14n font-color-w">
                            <p class = "tab_my_wallet">포트폴리오</p>
                        </div>
                        <div class = "my_data_tab public_toggle toggle_select margin-l-8 font-14n font-color-w">
                            <p class = "tab_my_data">데이터 분석</p>
                        </div>
                        <div class = "community_tab public_toggle margin-l-8 font-14n font-color-w">
                            <p class = "tab_community">커뮤니티</p>
                        </div>
                    </div>
                    <div class = "my_property_chart m_card margin-t-16">
                        <div class = "card_title">
                            <p class = "font-12n title_color margin-r-16 title_color">24시간 내 자산 변동률</p>
                            <img class = "go_detail_img">
                        </div>
                        <div id = "myPropertyChart" style = "width:100%; height:70px; border-radius: 6px;"></div>
                    </div> -->

                    
                </div>
                </div>
                <div class = "public-footer">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
